.AddMatchForm {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
  max-width: 700px;
}

.AddMatchForm p {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  margin: 0.5rem;
}

.AddMatchForm label {
  text-transform: uppercase;
}

.AddMatchForm input,
.AddMatchForm select {
  box-sizing: border-box;
  margin: 10px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background: white;
  width: 150px;
  height: 80px;
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 420px) {
  .AddMatchForm p {
    flex-flow: column;
  }
}
