.SideDrawer {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 250px;
  max-width: 70%;
  height: 100%;
  padding: 0px 30px;
  display: flex;
  flex-flow: column;
  background-color: white;
  box-shadow: 5px 0px 5px 0px rgba(187, 187, 187, 0.75);
  transition: transform 0.3s ease-out;
}

.SideDrawer div {
  height: 56px;
  background-color: rgb(200, 200, 200);
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Opened {
  transform: translateX(0);
}

.Closed {
  transform: translateX(-105%);
}
