.NavigationItems {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.NavigationItems li {
  padding: 10px;
}

.NavigationItems li a {
  color: #333;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
}

.NavigationItems li a:visited {
  color: #333;
}

.NavigationItems li a:hover {
  color: #e72133;
}

.NavigationItems .Auth {
  background-color: #2ed3d4;
  box-shadow: 0 2px 5px 2px #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.NavigationItems .Auth a:visited {
  color: white;
}

.NavigationItems .Auth:hover {
  box-shadow: 0 0 0 0;
  background-color: #3d9ca0;
}

.Active {
  border-bottom: 2px solid #333;
}
