.NavigationItems {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.NavigationItems li {
  padding: 10px;
}

.NavigationItems li a {
  color: #333;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
}

.NavigationItems li a:visited {
  color: #333;
}

.NavigationItems li a:hover {
  color: red;
}

.Auth {
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.Active {
  border-bottom: 2px solid #333;
}
